TITAN/data/*
TITAN/intermediate_files/*
TITAN/work/*
TITAN/.nextflow.log*
TITAN/.nextflow/
TITAN/commands*
TITAN/slurm-*
TITAN/FINAL_OUTPUT/*
TITAN/TMP_stranded/*
TITAN/TMP_unstranded/*
TITAN/data.zip
TITAN_hap2/
TITAN/dag.png
TITAN/logfile_aegis.txt
TITAN/aegis_final_merged_annotations.pkl
TITAN/intermediate_annotation.pkl
TITAN/aegis.log
TITAN/main_old.nf
TITAN/null/
TITAN/OUTDIR

