genes_annotation-workflow/data/*
genes_annotation-workflow/intermediate_files/*
genes_annotation-workflow/work/*
genes_annotation-workflow/.nextflow.log*
genes_annotation-workflow/.nextflow/
genes_annotation-workflow/commands.sh
genes_annotation-workflow/slurm-*
genes_annotation-workflow/FINAL_OUTPUT/*
genes_annotation-workflow/TMP_stranded/*
genes_annotation-workflow/TMP_unstranded/*
genes_annotation-workflow/data.zip
genes_annotation-workflow_hap2/
