manifest {
  author = 'Marco Moretto'
  name = 'SNPlift pipeline'
  version = '1.0'
  description = 'Lift over SNP positions to match a new reference genome' 
}

process {
  cpus = 10

  withName:SNPLIFT {
    container = 'grapedia/snplift:v1'
  }

  withName:CHECK_COORDS {
    container = 'grapedia/snplift:v1'
  }

  withName:SPLIT_COORDS {
    container = 'grapedia/snplift:v1'
  }

  withName:MERGE_RESULT {
    container = 'grapedia/snplift:v1'
  }
  
}

docker {
    enabled = true
    runOptions = '-w /snplift -v /opt/:/opt/'
}
