params.threads = 7
params.nodes = 1
params.num_cpus_per_node = 8

process {
    memory = 56.GB
    cpus = 7
    ext.align_mem = '13'
    time = 24.h
    errorStrategy = 'retry'
    maxRetries = 1

    withLabel: 'long_job' {
        time = 36.h
    }
    withLabel: 'small_mem' {
        memory = 8.GB
    }
    withLabel: 'med_mem' {
        memory = 32.GB
    }
    withLabel: 'large_mem' {
        memory = 56.GB
    }
    withLabel: 'single_cpu' {
        ext {
            split_jobs = 1
            threads = 1
        }
        cpus = 1
    }
    withLabel: 'multi_cpu' {
        ext {
            split_jobs = 1
            threads = params.threads
        }
        cpus = params.threads
    }
    withLabel: 'multi_node' {
        ext {
            split_jobs = params.nodes
            threads = params.threads
        }
        cpus = params.threads
    }
    withLabel: 'gpx_submitter' {
        ext {
            split_jobs = params.nodes
            threads = 1
        }
        cpus = 1
    }
}
