includeConfig "./process_resources.config"

singularity {
    enabled = true
    autoMounts = true
    cacheDir = System.getenv('SINGULARITY_CACHEDIR') ?: System.getenv('APPTAINER_CACHEDIR') ?: './singularity-cache'
    envWhitelist = 'APPTAINER_CACHEDIR,SINGULARITY_CACHEDIR,APPTAINER_TMPDIR,SINGULARITY_TMPDIR,PYTHONNOUSERSITE'
}

env {
    APPTAINER_CACHEDIR = System.getenv('APPTAINER_CACHEDIR') ?: System.getenv('SINGULARITY_CACHEDIR') ?: './singularity-cache'
    SINGULARITY_CACHEDIR = System.getenv('SINGULARITY_CACHEDIR') ?: System.getenv('APPTAINER_CACHEDIR') ?: './singularity-cache'
    APPTAINER_TMPDIR = System.getenv('APPTAINER_TMPDIR') ?: System.getenv('SINGULARITY_TMPDIR') ?: './apptainer-tmp'
    SINGULARITY_TMPDIR = System.getenv('SINGULARITY_TMPDIR') ?: System.getenv('APPTAINER_TMPDIR') ?: './apptainer-tmp'
    PYTHONNOUSERSITE = '1'
    DEBUGINFOD_URLS = '/dev/null'
}

process {
    executor = 'local'
    cache = 'lenient'
}
