process {
    errorStrategy = 'finish'

    withLabel: process_low {
        cpus = 1
        memory = 2.GB
        time = 1.h
        maxForks = 4
    }

    withLabel: process_medium {
        cpus = 4
        memory = 16.GB
        time = 4.h
        maxForks = 2
    }

    withLabel: process_high {
        cpus = 8
        memory = 64.GB
        time = 24.h
        maxForks = 1
    }
}
