process.executor = 'slurm'

params.slurm_queue = params.slurm_queue ?: System.getenv('TITAN_SLURM_QUEUE') ?: ''
params.slurm_account = params.slurm_account ?: System.getenv('TITAN_SLURM_ACCOUNT') ?: ''
params.slurm_qos = params.slurm_qos ?: System.getenv('TITAN_SLURM_QOS') ?: ''

process {
    queue = params.slurm_queue ?: null
    clusterOptions = [
        params.slurm_account ? "--account=${params.slurm_account}" : '',
        params.slurm_qos ? "--qos=${params.slurm_qos}" : ''
    ].findAll { it }.join(' ')
}
