process.executor = 'local'
docker.enabled = false
workDir = "${projectDir}/test-work"

params {
    workflow = "aegis"
    output_dir = "${projectDir}/test-results"
    previous_assembly = "${projectDir}/test-data/minimal/valid/reference.fa"
    new_assembly = "${projectDir}/test-data/minimal/valid/target.fa"
    previous_annotations = "${projectDir}/test-data/minimal/valid/reference.gff3"
    RNAseq_samplesheet = "${projectDir}/test-data/minimal/valid/rnaseq_samplesheet.csv"
    protein_samplesheet = "${projectDir}/test-data/minimal/valid/protein_samplesheet.csv"
    egapx_paramfile = "${projectDir}/test-data/minimal/valid/input_egapx.yaml"
    EDTA = "no"
    use_long_reads = false
}

process {
    withLabel: default {
        cpus = 2
        memory = 4.GB
        time = 1.h
    }
    withLabel: process_high {
        cpus = 2
        memory = 4.GB
        time = 1.h
    }
    withLabel: process_medium {
        cpus = 2
        memory = 2.GB
        time = 30.min
    }
}
