manifest {
  author = 'Amandine Velt'
  name = 'Annotation pipeline'
  version = '1.0'
  description = 'Annotation pipeline'
}

docker {
  enabled = true
}

process {
  cpus = 20
  memory = 20.GB
}

params {
  assemblies_folder="$projectDir/data/assemblies/"
  previous_assembly = "PN40024_40X_REF_chloro_mito.chr_renamed.fasta"
  new_assembly = "Chinese_ref_v2.fa"
  previous_annotations = "$projectDir/data/annotations/PN40024_pseudomolecules.v4.3.BETA.gff3"
  RNAseq_samplesheet = "$projectDir/data/RNAseq_data/samplesheet.test.csv"
  protein_samplesheet = "$projectDir/data/protein_data/samplesheet.csv"
  geneid_param_file = "$projectDir/data/geneid_param_file/vvinifera.param.Jan_12_2007"
  pasa_config_file = "$projectDir/data/pasa_config_file/pasa.alignAssembly.Template.txt"
}
