manifest {
  author = 'Amandine Velt'
  name = 'Annotation pipeline'
  version = '1.0'
  description = 'Annotation pipeline'
}

docker {
  enabled = true
}

process {
  cpus = 20
  memory = 20.GB
}

params {
  assemblies_folder="$projectDir/data/assemblies/"
  previous_assembly = "PN12Xv2.fasta"
  new_assembly = "Chinese_ref_v2.fa"
  previous_annotations = "$projectDir/data/annotations/Vitis_vinifera_gene_annotation_on_V2_20.gff3"
  RNAseq_samplesheet = "$projectDir/data/RNAseq_data/samplesheet.test.csv"
  arabidopsis = "$projectDir/data/protein_data/arabidopsis_prot_2022_01.fasta"
  viridiplantae = "$projectDir/data/protein_data/Viridiplantae_swissprot.fasta"
  eudicotyledones_uniprot = "$projectDir/data/protein_data/eudicotyledons_uniprot.fasta"
  eudicotyledones_orthoDB = "$projectDir/data/protein_data/eudicotyledons_odb10.fasta"
  vitales = "$projectDir/data/protein_data/vitales.fasta"
  geneid_param_file = "$projectDir/data/geneid_param_file/vvinifera.param.Jan_12_2007"
  pasa_config_file = "$projectDir/data/pasa_config_file/pasa.alignAssembly.Template.txt"
}
