manifest {
  author = 'David Navarro (david.navarro.paya@gmail.com), Antonio Santiago (antsanpaj@gmail.com), Amandine Velt (amandine.velt@inrae.fr)'
  name = 'TITAN (The Intensive Transcript ANnotation pipeline)'
  version = '1.0'
  description = 'Gene annotation pipeline'
  homePage = 'https://github.com/Grapedia/workflows/tree/main/genes_annotation-workflow'
  nextflowVersion = '24.04.3'
  mainScript = 'main.nf'
}

docker {
  enabled = true
}

process {
  cpus = 17
  memory = 20.GB
  containerOptions = "-v /data2/avelt/2024_assembly_GW_RI_hifiasm/Riesling/2025_final_development_TITAN/workflows/genes_annotation-workflow/:/data2/avelt/2024_assembly_GW_RI_hifiasm/Riesling/2025_final_development_TITAN/workflows/genes_annotation-workflow/"
}

params {
  previous_assembly = "$projectDir/data/assemblies/T2T_ref.fasta"
  new_assembly = "$projectDir/data/assemblies/riesling.hap1.chromosomes.phased.fa"
  previous_annotations = "$projectDir/data/annotations/PN40024_5.1_on_T2T_ref_with_names.gff3"
  RNAseq_samplesheet = "$projectDir/data/RNAseq_data/RNAseq_samplesheet.txt"
  protein_samplesheet = "$projectDir/data/protein_data/samplesheet.csv"
  EDTA = "no"
}

