env {
  APPTAINER_CACHEDIR = "${projectDir}/.apptainer-cache"
  SINGULARITY_CACHEDIR = "${projectDir}/.apptainer-cache"
  APPTAINER_TMPDIR = "${projectDir}/.apptainer-tmp"
  SINGULARITY_TMPDIR = "${projectDir}/.apptainer-tmp"
}

params {
  output_dir = "${projectDir}/test-results/data-example-realistic-lite"
  previous_assembly = "${projectDir}/data_example/realistic-lite/assemblies/v4_genome_ref.chr01.fasta"
  new_assembly = "${projectDir}/data_example/realistic-lite/assemblies/T2T_ref.chr01.fasta"
  previous_annotations = "${projectDir}/data_example/realistic-lite/annotations/v4_3_just_ref.chr01.gff3"
  RNAseq_samplesheet = "${projectDir}/data_example/realistic-lite/RNAseq_samplesheet.csv"
  RNAseq_data_dir = "${projectDir}/data_example/realistic-lite/rnaseq"
  protein_samplesheet = "${projectDir}/data_example/realistic-lite/protein_samplesheet.csv"
  egapx_paramfile = "${projectDir}/data_example/realistic-lite/egapx/input_egapx.yaml"
  edta_cpus = 8
  egapx_cpus = 8
  diamond2go_cpus = 4
  ena_retry_wait_seconds = 0
  publish_intermediates = true
}

process {
  withLabel: process_low { cpus = 1; memory = 4.GB; time = 2.h }
  withLabel: process_medium { cpus = 4; memory = 16.GB; time = 6.h }
  withLabel: process_high { cpus = 8; memory = 48.GB; time = 24.h }
  withLabel: process_index { cpus = 8; memory = 32.GB; time = 8.h }
  withLabel: process_alignment { cpus = 8; memory = 32.GB; time = 8.h }
  withLabel: process_transcriptome { cpus = 8; memory = 32.GB; time = 8.h }
  withLabel: process_prediction { cpus = 8; memory = 64.GB; time = 48.h }
  withLabel: process_merge { cpus = 4; memory = 16.GB; time = 8.h }
  withLabel: process_aegis { cpus = 4; memory = 32.GB; time = 12.h }
}
