test-results/
test-work/
work/
.nextflow/
.nextflow-home/
.nextflow.log*
nxf-tmp.*
.apptainer-cache/
.apptainer-tmp/
*.sif
.egapx_cache/
.egapx_runner/
.eggnog_data/
__pycache__/
*.pyc
.helixer_models/
.interproscan_data/
.busco_data/
TITAN_colmar-*.log
busco_downloads/
