// Manifest section: Defines metadata about the pipeline
manifest {
  author = 'David Navarro (david.navarro.paya@gmail.com), Antonio Santiago (antsanpaj@gmail.com), Amandine Velt (amandine.velt@inrae.fr)'
  name = 'TITAN (The Intensive Transcript ANnotation pipeline)'
  version = '1.0'
  description = 'Gene annotation pipeline'
  homePage = 'https://github.com/Grapedia/workflows/tree/main/TITAN'
  nextflowVersion = '24.04.3'
  mainScript = 'main.nf'
}

// Docker section: Enables containerization using Docker
docker {
  enabled = true
}

includeConfig 'conf/base.config'

// Parameters section: Defines user-configurable parameters
params {
  output_dir = "$projectDir/OUTDIR"
  previous_assembly = "$projectDir/data/assemblies/v4_genome_ref.fasta"
  new_assembly = "$projectDir/data/assemblies/riesling.hap2.chromosomes.phased.fa"
  previous_annotations = "$projectDir/data/annotations/v4_3_just_ref.gff3"
  RNAseq_samplesheet = "$projectDir/data/RNAseq_data/RNAseq_samplesheet.txt"
  RNAseq_data_dir = "$projectDir/data/RNAseq_data"
  protein_samplesheet = "$projectDir/data/protein_data/samplesheet.csv"
  egapx_paramfile="$projectDir/data/input_egapx.yaml"
  edta_cpus = 5
  egapx_cpus = 5
  egapx_version = "0.5.2"
  egapx_revision = "v0.5.2"
  container_agat = "quay.io/biocontainers/agat@sha256:7ea8fa5a8428758cd87e3a5dcfaf277febdfcae95cd1fe473770abf8b928ec99"
  container_aegis = "tomsbiolab/aegis@sha256:de88470b3fb4fbab3ff2d5fa0fb9fed36b55952d1e383d3fdb2f5a3a530d84e6"
  container_braker3 = "avelt/braker3@sha256:e69a9aaaafa81e4da5b2bbb98ae120d873018ae40453630f60051ecd5f622c44"
  container_diamond2go = "avelt/diamond2go@sha256:40f1063307f98a2357d60b306bd7d79b6088591c1613e6552613da24002e8360"
  container_edta = "avelt/edta@sha256:607529be8e85c5b13dbed44135b35a0791ff9f8df41d4ea71169d47179315044"
  container_egapx = "ncbi/egapx@sha256:bc657b232d93364d5f3b75ad3bfaf14b6267e46173672b609f26078d48a04298"
  container_fastp = "quay.io/biocontainers/fastp@sha256:0bdf8d8254fc86dd9038551d68dbcb72562e65560b9ce0ea08c1329d2f8587b4"
  container_gffcompare = "avelt/gffcompare@sha256:bd411c13352a2545641c8c34b701030b3977056696607e85b4e86c876d10a82c"
  container_hisat2 = "avelt/hisat2@sha256:022933fd0d30fe9fdfd83c175f7e41d480608fe0264b59f2861babaf7050a722"
  container_liftoff = "quay.io/biocontainers/liftoff@sha256:460d5e82b0c59e8348633f3e0b9a19cf29f9227f7457e90bd7f1d1a2403b3555"
  container_minimap2_samtools = "avelt/minimap2_samtools@sha256:70dcb87bb8021c90fc5eb660bbe1e6fc6bedadbf85c552c66704d27957b1f4ba"
  container_psiclass_samtools = "avelt/psiclass_samtools@sha256:5cad8ecfd81293287bb6612ac8a6daaf17e626339016d326cf79615606acb285"
  container_salmon = "quay.io/biocontainers/salmon@sha256:71ffc3b4961971159a6a2327d55686fb499c43335644ea5623476a082e826fc0"
  container_sra_tools = "quay.io/biocontainers/sra-tools@sha256:05de2c580cccc4c609ec7c645902563e5d5ffbd366662e1983cb152545ec7bc0"
  container_star = "quay.io/biocontainers/star@sha256:f5910f39a9f5bc171a51fe7400d33e7586cb353c47d759a7c190562322150067"
  container_stringtie = "avelt/stringtie@sha256:856395c26e0c36544ef5c66e24badcac4f68fd5fa51864a0f964a737250545bb"
  egapx_container = "ncbi/egapx@sha256:bc657b232d93364d5f3b75ad3bfaf14b6267e46173672b609f26078d48a04298"
  egapx_executor = "docker"
  egapx_data_version = "current_1"
  egapx_runner_dir = false
  aegis_version = "v0.3.25"
  aegis_container = "tomsbiolab/aegis@sha256:de88470b3fb4fbab3ff2d5fa0fb9fed36b55952d1e383d3fdb2f5a3a530d84e6"
  diamond2go_cpus = 5
  // PsiClass options to decrease the monoexon genes number
  PSICLASS_vd_option = 5.0 // FLOAT : the minimum average coverage depth of a transcript to be reported
  PSICLASS_c_option = 0.03 // FLOAT: only use the subexons with classifier score <= than the given number
  STAR_memory_per_job = 60000000000
}

profiles {
  local {
    includeConfig 'conf/local.config'
  }
  test {
    includeConfig 'conf/test.config'
  }
  apptainer {
    includeConfig 'conf/apptainer.config'
  }
  slurm {
    includeConfig 'conf/slurm.config'
  }
}
