// Manifest section: Defines metadata about the pipeline
manifest {
  author = 'David Navarro (david.navarro.paya@gmail.com), Antonio Santiago (antsanpaj@gmail.com), Amandine Velt (amandine.velt@inrae.fr)'
  name = 'TITAN (The Intensive Transcript ANnotation pipeline)'
  version = '1.0'
  description = 'Gene annotation pipeline'
  homePage = 'https://github.com/Grapedia/workflows/tree/main/TITAN'
  nextflowVersion = '24.04.3'
  mainScript = 'main.nf'
}

// Docker section: Enables containerization using Docker
docker {
  enabled = true
}

// Process settings: Defines resource allocation for processes
process {
  withName: 'aegis_short_reads' {
    memory = '300GB'
    cpus = 1
    containerOptions = "-v /data2/avelt/2024_assembly_GW_RI_hifiasm/Riesling/2025_genes_annotation/workflows/TITAN:/data2/avelt/2024_assembly_GW_RI_hifiasm/Riesling/2025_genes_annotation/workflows/TITAN"
  }

  withName: 'aegis_long_reads' {
    memory = '300GB'
    cpus = 1
    containerOptions = "-v /data2/avelt/2024_assembly_GW_RI_hifiasm/Riesling/2025_genes_annotation/workflows/TITAN:/data2/avelt/2024_assembly_GW_RI_hifiasm/Riesling/2025_genes_annotation/workflows/TITAN"
  }

  // Default configuration for all other processes
  withLabel: 'default' {
    memory = '60GB'
    cpus = 10
    containerOptions = "-v /data2/avelt/2024_assembly_GW_RI_hifiasm/Riesling/2025_genes_annotation/workflows/TITAN:/data2/avelt/2024_assembly_GW_RI_hifiasm/Riesling/2025_genes_annotation/workflows/TITAN"
  }

}

// Parameters section: Defines user-configurable parameters
params {
  workflow = "aegis" // possible value : generate_evidence_data, aegis or all
  output_dir = "$projectDir/OUTDIR"
  previous_assembly = "$projectDir/data/assemblies/v4_genome_ref.fasta"
  new_assembly = "$projectDir/data/assemblies/riesling.hap2.chromosomes.phased.fa"
  previous_annotations = "$projectDir/data/annotations/v4_3_just_ref.gff3"
  RNAseq_samplesheet = "$projectDir/data/RNAseq_data/RNAseq_samplesheet.txt"
  protein_samplesheet = "$projectDir/data/protein_data/samplesheet.csv"
  EDTA = "yes" // Whether to run EDTA (transposable element annotation tool) - "yes" or "no"
  use_long_reads = false // Flag to indicate whether long-read sequencing data should be used (true/false)
  // PsiClass options to decrease the monoexon genes number
  PSICLASS_vd_option = 5.0 // FLOAT : the minimum average coverage depth of a transcript to be reported
  PSICLASS_c_option = 0.03 // FLOAT: only use the subexons with classifier score <= than the given number
}
