__pycache__/
*.log
input_gffs/*
output_tidy_fc_simple_gffs/
output_tidy_fc_simple_gffs/*
output_tidy_fc_gffs/
output_tidy_fc_gffs/*
output_tidy_gffs/
output_tidy_gffs/*
logs/*
!logs/.gitkeep
!input_gffs/.gitkeep
tests/
tests/*
*.code-workspace
old/*
old/
*.out